.itemName, .itemPrice {
    font-size: 0.7em;
    align-self:center;
    text-align: start;
}

.itemName {
    flex-basis: 55%;
    margin-right: 0.5em;
}

.itemPrice {
    flex-basis: 15%;
}

.itemBuy {
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    margin-left: 0.5em;
}

.itemBuy span {
    margin: 0 0.5em;
    text-align: center;
    align-self: center;
}

.footer {
    border-top: 1px solid rgba(105, 105, 105, 0.5);
    padding: 1em;
    text-align: end;
    font-size: 0.9em;
    color: #EFEFEF;
}