.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
    border-top: 2px solid dimgrey;
    border-bottom: 2px solid dimgrey;
}

.header img {
    width: 2em;
    height: 2em;
    margin: 0 1em;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.title {
    margin-bottom: 1em;
    color: var(--tg-theme-text-color);
}

.mainBlock input {
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.select {
    padding: 10px;
    margin-bottom: 1.5em;
}

.blockIsStop {
    display: flex;
    flex-direction: row;
}

.blockIsStop span {
    flex-basis: 60%;
    align-self: center;
    margin-left: 1.5em;
}

.blockIsStop input {
    flex-basis: 20%;
    margin-top: 1.5em;
}