.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
    border-top: 2px solid dimgrey;
    border-bottom: 2px solid dimgrey;
}

.header img {
    width: 2em;
    height: 2em;
    margin: 0 1em;
}
