.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
    border-bottom: 2px solid dimgrey;
}

.headerRight {
    display: flex;
    align-items: center;
}