.main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main h2 {
    text-align: center;
}

.main textarea {
    height: 30vh;
    border-radius: 15px;
    padding: 0.6em 1em;
    margin: 2em;
    resize: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    border-radius: 15px;
    padding: 0.6em 1em;
}