.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time span {
    align-self: center;
}

.calendarLable {
    margin-bottom: 0.5em;
}

.confirmReservation {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.confirmReservation span {
    flex-basis: 60%;
    align-self: center;
    margin-left: 1.5em;
}

.confirmReservation input {
    flex-basis: 20%;
}

.delete {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    padding: 0.8em;
    margin: 1em 0;
}