/* Заголовок */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8em;
    border: 2px 0 solid dimgrey;
}

.header img {
    width: 2em;
    height: 2em;
    margin: 0 1em;
}

/* Основной блок */
.mainBlock {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.title {
    margin-bottom: 1em;
    color: var(--tg-theme-text-color);
}

.mainBlock input,
.mainBlock textarea,
.select {
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.mainBlock textarea {
    min-height: 6em;
}

.blockIsStop {
    display: flex;
    flex-direction: row;
}

.blockIsStop span {
    flex-basis: 60%;
    align-self: center;
    margin-left: 1.5em;
}

.blockIsStop input {
    flex-basis: 20%;
    margin-top: 1.5em;
}

.mainBlock button {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    padding: 0.8em;
    margin-top: 2em;
}

/* Элемент "item" */
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.itemTextarea {
    display: flex;
    flex-direction: column;
}

.description {
    margin: 0.5em;
}

.titleName {
    font-weight: bold;
}