.main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main h2 {
    text-align: center;
    margin-bottom: 2em;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.mainBlock input {
    border-radius: 15px;
    padding: 0.8em;
    font-size: 1em;
}

.mainBlock span {
    margin-top: 1em;
    text-align: center;
    color: rgba(255, 0, 0, 0.65);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    border-radius: 15px;
    padding: 0.6em 1em;
}